<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetcidev/api/v3/index.json" />
    <add key="CoreCLR" value="\\cpvsbuild\drops\dev14\ProjectK\raw\23826.00\binaries.x86ret\NETCore\Packages" />
    <add key="CoreCLR2" value="\\cpvsbuild\drops\dev14\ProjectK\raw\23826.00\binaries.amd64ret\NETCore\Packages" />
  </packageSources>
</configuration>
